/* .box{
    border: 3px solid;
    width: 100%;
    height: 125px;
} */

/* EXAMPLE 1 */
/* #fruits{
    border: 3px solid;
    font-size: 2rem;
} */

/* #myBox{
    background-color: lightseagreen;
    width: 350px;
    height: 300px;
    font-size: 4.5rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    text-align: center;
}
#myButton{
    font-size: 2.5rem;
} */

/*key event*/
/* body{
    margin: 0;
}
#myBox {
    background-color: lightskyblue;
    width: 200px;
    height: 200px;
    font-size: 7.5rem;
    display: flex;
    justify-items: center;
    align-items: center;
    position: relative;
} */


/*hide/show*/
/* #myButton{
    font-size: 2rem;
    border: none;
    background-color:cadetblue;
    color: white;
    font-weight: bolder;
    width: 14vw;
    height: 4vh;
    margin: 5px;
    cursor: pointer;
}
#myButton:hover{
    background-color:rgb(127, 177, 179);
}
#myButton:active{
    background-color:rgb(164, 204, 206);
} */